.purple{
    background-color: blueviolet;
   
}
#fourth{
     color: aliceblue;

}
.blue{
    background-color: blue;
}
#second{
    color: aliceblue;
}

#third{
    color: rgb(75, 208, 126);

}

.white{
    background-color: aqua;
}