p{
    background-color: aquamarine;
    color: brown;
}
a{
    background-color: blueviolet;
    color: chartreuse;
}
span{
    background-color: black;
    color: white;
}
div{
    background-color: beige;
    color: crimson;
}
